.adress-input-and-suggestions {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

.autocomplete-list {
    position: absolute;
    top: 100%;
    left: 35px;
    right: 0;
    background-color: var(--bg-surface);
    border: 2px solid var(--primary);
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    z-index: 2000;
    list-style: none;
    margin: 0;
    padding: 0;
}

.autocomplete-list li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid var(--primary);
    background-color: var(--bg-surface);
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.autocomplete-list li:hover {
    background-color: var(--bg-surface-hover);
}

.autocomplete-list li:hover strong {
    color: var(--primary-hover);
}

.autocomplete-list li small {
    color: var(--text-secondary);
    font-size: 0.8rem;
}

.autocomplete-list li:hover small {
    color: var(--primary-hover);
}

.autocomplete-list li.active {
    background-color: var(--primary);
    cursor: pointer;
}

.autocomplete-list li.active small {
    color: var(--text-primary);
}
