.icon-button {
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background: none;
    transition: all 0.2s ease;
    color: var(--text-main);
}

.icon-button:hover {
    color: var(--primary-hover);
}

.icon-button:active {
    color: var(--primary);
    transform: scale(0.95);
}

.icon-button:focus {
    outline: none;
}

.icon-button:focus-visible {
    color: var(--primary);
}
