.input-error .input {
    border: 2px solid var(--error);
    color: var(--error);
    background-color: var(--error-bg);
}

.input-with-icon.input-error .input:hover {
    box-shadow: 0 0 3px var(--error);
}

.input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid var(--border-strong);
    background-color: var(--bg-surface);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.input:hover {
    border-color: var(--primary);
    box-shadow: 0 0 3px var(--primary);
}

.input:focus {
    border-color: var(--primary);
    outline: none;
}

.input-with-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.input-with-icon.input-error .input-icon {
    color: var(--error);
}

.error-text {
    color: var(--error);
    font-size: 0.85rem;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    animation: fadeIn 0.4s ease-in;
}

.input-warning .input {
    border: 2px solid var(--warning);
    background-color: var(--warning-bg);
}

.input-with-icon.input-warning .input:hover {
    box-shadow: 0 0 3px var(--warning);
}

.input-with-icon.input-warning .input-icon {
    color: var(--warning);
}

.warning-text {
    color: var(--warning);
    font-size: 0.85rem;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    animation: fadeIn 0.4s ease-in;
}

.input.input-time {
    padding: 3px;
    height: fit-content;
    min-width: 5em;
    width: fit-content;
    max-width: 90%;
}

.input.input-number {
    padding: 3px;
    height: fit-content;
    width: 5em;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
