.main-page-itineraire {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 4em);
    width: 100vw;
    overflow: hidden;
}

.map-container {
    flex: 1;
    position: relative;
    width: 100%;
    min-height: 100%;
}

@media (max-width: 700px) {
    .main-page-itineraire {
        flex-direction: column-reverse;
        height: auto;
    }

    .map-container {
        flex: 0 0 65vh;
        height: 65vh;
        min-height: 65vh;
        width: 100%;
    }
}
