.main-page-itineraire {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 4em);
    width: 100vw;
    overflow: hidden;
}

.map-container {
    flex: 1;
    position: relative;
}

@media (max-width: 600px) {
    .main-page-itineraire {
        flex-direction: column-reverse;
        height: auto;
    }

    .map-container {
        flex: none;
        height: 65vh;
    }
}
