# PostgreSQL database configuration
POSTGRES_DB=db_name
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# CORS_ORIGINS should be a comma-separated list of allowed origins for CORS requests.
# For local development, you can set it to something like:
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
