.search-aside {
    width: 35%;
    max-width: 350px;
    min-width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    overflow-y: auto;
}

.adress-inputs {
    width: 100%;
}

.adress-input-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.heure-temps-max-section {
    margin-bottom: 1em;
}

.heure-temps-max-section h3 {
    margin: 0.5em 0;
}

.heure-temps-max-section span {
    margin: 0;
    color: var(--text-secondary);
    font-style: italic;
}

.heure-max, .temps-max {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    gap: 10px;
}

@media (max-width: 600px) {
    .search-aside {
        width: 100%;
        max-width: none;
        min-width: none;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        gap: 1em;
    }
}
