# Base URL of API, use http://127.0.0.1 for local development
VITE_API_BASE_URL=http://127.0.0.1

# Port on which the backend API is running
VITE_API_PORT=8000

VITE_MAPTILER_KEY=your_api_key_here
# Get an free API key at https://www.maptiler.com/cloud/
