.icon-button {
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background: none;
    transition: all 0.25s ease;
    color: var(--text-main);
}

.icon-button:hover {
    color: var(--primary);
    filter: drop-shadow(0 0 8px var(--primary));
}

.icon-button:focus {
    outline: none;
    color: var(--primary);
    filter: drop-shadow(0 0 5px var(--primary));
}
