#root {
    text-align: center;
}

.media-small {
    display: none;
}

@media (max-width: 700px) {
    .media-small {
        display: block;
    }

    .media-large {
        display: none;
    }
}
